In [1]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("http.csv")

C:\Users\aivin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (17,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
#DataFrame with columns
columns = pd.DataFrame(list(df.columns.values[1:]))

#DataFrame with data types
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

#DataFrame with Count
data_count = pd.DataFrame(df.count(), columns=['Count'])

#DataFrame with unique values
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
data_quality_report = data_types.join(data_count).join(unique_value_counts).join(missing_data_counts)
print('Data Quality Report')
data_quality_report

Data Quality Report

                  Data Type   Count Unique Values  Missing Values
ts                  float64  159346        159336               0
uid                  object  159346         67478               0
id.orig_h            object  159346           128               0
id.orig_p             int64  159346          1079               0
id.resp_h            object  159346         11820               0
id.resp_p             int64  159346            65               0
trans_depth           int64  159346           186               0
method               object  159277             6              69
host                 object  157769         10969            1577
uri                  object  159277         91578              69
referrer             object  128257          9908           31089
user_agent           object  158088           410            1258
request_body_len      int64  159346           417               0
response_body_len     int64  159346         31314               0
status_code         float64  157452            26            1894
status_msg           object  157452            65            1894
info_code           float64      15             1          159331
info_msg             object      15             1          159331
filename            float64       0             0          159346
tags                 object  159346             2               0
username             object       2             1          159344
password            float64       0             0          159346
proxied              object       3             1          159343
orig_fuids           object    2448          2448          156898
orig_mime_types      object    2448             7          156898
resp_fuids           object  136587        136560           22759
resp_mime_types      object  136587            40           22759