In [1]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("smtp.csv")

In [2]:
#DataFrame with columns
columns = pd.DataFrame(list(df.columns.values[1:]))

#DataFrame with data types
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

#DataFrame with Count
data_count = pd.DataFrame(df.count(), columns=['Count'])

#DataFrame with unique values
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
data_quality_report = data_types.join(data_count).join(unique_value_counts).join(missing_data_counts)
print('Data Quality Report')
data_quality_report

Data Quality Report

                 Data Type  Count Unique Values  Missing Values
ts                 float64    194           186               0
uid                 object    194           194               0
id.orig_h           object    194            11               0
id.orig_p            int64    194           192               0
id.resp_h           object    194            20               0
id.resp_p            int64    194             1               0
proto                int64    194             1               0
trans_depth         object    159            20              35
helo                object     13             4             181
mailfrom            object     13             2             181
rcptto             float64      0             0             194
date               float64      0             0             194
from               float64      0             0             194
to                 float64      0             0             194
in_reply_to        float64      0             0             194
subject            float64      0             0             194
x_originating_ip   float64      0             0             194
first_received     float64      0             0             194
second_received    float64      0             0             194
last_reply         float64      0             0             194
path                object    193            23               1
user_agent          object    194            47               0
tls                float64      0             0             194
fuids               object    194             1               0
is_webmail          object    194             1               0