In [2]:
from mpl_toolkits.mplot3d import Axes3D
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("ssl.csv")

In [3]:
#DataFrame with columns
columns = pd.DataFrame(list(df.columns.values[1:]))

#DataFrame with data types
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

#DataFrame with Count
data_count = pd.DataFrame(df.count(), columns=['Count'])

#DataFrame with unique values
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):
    unique_value_counts.loc[v] = [df[v].nunique()]

missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])
data_quality_report = data_types.join(data_count).join(unique_value_counts).join(missing_data_counts)
print('Data Quality Report')
data_quality_report

Data Quality Report

                      Data Type  Count Unique Values  Missing Values
ts                      float64   2956          2347               0
uid                      object   2956          2347               0
id.orig_h                object   2956           127               0
id.orig_p                 int64   2956           382               0
id.resp_h                object   2956           848               0
id.resp_p                 int64   2956             2               0
version                  object   2307             2             649
cipher                   object   2307             3             649
server_name             float64      0             0            2956
session_id               object    476           294            2480
subject                  object   1938           224            1018
issuer_subject           object   1938            51            1018
not_valid_before        float64   1938           442            1018
not_valid_after         float64   1938           334            1018
last_alert               object    649           132            2307
client_subject          float64      0             0            2956
client_issuer_subject   float64      0             0            2956
cert_hash                object   1938           450            1018
validation_status        object   1938             3            1018